<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="ads" class="com.yw.pojo.Address"></bean>
    <bean id="student" class="com.yw.pojo.Student">
         <!-- 第一种： 普通值注入  value      -->
        <property name="name" value="张三"/>
        <!--        第二种： 对象注入 ref-->
        <property name="address" ref="ads"></property>

        <!--第三种： 数组注入 array       -->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <!--  第四中      list注入-->
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>跑步</value>
                <value>看电影</value>
            </list>
        </property>
        <!--  第五种      map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="111111222233334444"></entry>
            </map>
        </property>
        <!--  第五种      set注入-->
        <property name="games">
            <set>
                <value>LoL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <!--  第六种      null 注入-->
        <property name="wife">
            <null></null>
        </property>

        <!--  第七种      Properties注入-->
        <property name="info">
            <props>
                <prop key="学号">2015001</prop>
                <prop key="姓名">小米</prop>
                <prop key="username">rose</prop>
            </props>
        </property>
    </bean>
</beans>